.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   padding-top: 30%
}

.coin {
  padding-top: 25%;
  width: 50%;
}

.coin-hidden {
  display: none;
  padding-top: 25%;
  width: 50%;
}
