<!DOCTYPE html>
<html>
  <head>
    <title>Vending Machine Kata</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <span>
        Vending Machine
      </span>
    </nav>
    <%= yield %>
    <%if current_order.purchased == true %>
     <script type="text/javascript">
      window.setTimeout(function(){
          window.location.href = "http://localhost:3000/orders/new";
        }, 3000);
      </script>
    <%end%>
    <%if Product.product_selected? && Product.product_selected?.quantity == 0 %>
     <script type="text/javascript">
      window.setTimeout(function(){
          window.location.href = 'http://localhost:3000/products/:id/edit';
        }, 3000);
      </script>
    <%end%>
  </body>
</html>
